@model DogGo.Models.ViewModels.OwnerWithDogs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.NeighborhoodId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.NeighborhoodId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
    </dl>
</div>
<br />
<div>
    <h4>Owners Dogs</h4>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dogs.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dogs.FirstOrDefault().Breed)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Owner.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
